@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #printable,
  #printable * {
    visibility: visible;
  }

  #printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 220mm;
    /* A4 width */
    height: 311mm;
    /* A4 height */
  }

  #printable img {
    width: 100%;
    height: 100%;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

pre.shiki {
  @apply mb-4 rounded-lg p-6;
}

/* custom fonts */
@font-face {
  font-family: "DINPro-CondBlack";
  src: url("/fonts/DINPro-CondBlack.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brothers-Bold";
  src: url("/fonts/Brothers-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brothers-Regular";
  src: url("/fonts/Brothers-Regular.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DINPro-Medium.";
  src: url("/fonts/DINPro-Medium.otf") format("opentype");
}

@font-face {
  font-family: "DINPro";
  src: url("/fonts/DINPro.otf") format("opentype");
}

@font-face {
  font-family: "Novecento CondBold";
  src: url("https://db.onlinewebfonts.com/t/20f3462f0bc12874d2d8566cf7881720.eot");
  src:
    url("https://db.onlinewebfonts.com/t/20f3462f0bc12874d2d8566cf7881720.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/20f3462f0bc12874d2d8566cf7881720.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/20f3462f0bc12874d2d8566cf7881720.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/20f3462f0bc12874d2d8566cf7881720.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/20f3462f0bc12874d2d8566cf7881720.svg#Novecento CondBold")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Haas Grot Text Trial";
  src: url("/fonts/neuehaasgrotdisp-55roman-trial.otf") format("opentype");
}

.font-button-base {
  font-family: "DINPro-CondBlack", sans-serif;
}

.font-text-regular {
  font-family: "Haas Grot Text Trial", sans-serif;
  font-weight: bolder;
}

.font-text-bold {
  font-family: "Novecento CondBold", sans-serif;
  font-weight: normal;
}

.h1-bold {
  font-family: "Novecento CondBold", sans-serif;
  font-weight: bolder;
}

.h1-regular {
  font-family: "Brothers-Regular", sans-serif;
}

.font-text-base {
  font-family: "DINPro-Medium.", sans-serif;
}

.font-text-normal {
  font-family: "Haas Grot Text Trial", sans-serif;
}

@keyframes anim {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}
