@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
.font-text-regular {
  font-family: "neue-haas-grotesk-display", sans-serif;
  letter-spacing: normal;
  line-height: 125%;
}
.font-button-base,
.font-text-bold {
  font-family: "novecento-sans-condensed", sans-serif;
  font-weight: 700;
}

h1,
h2 {
  font-family: "novecento-sans-condensed", sans-serif;
  font-weight: 700;
}
h3,
h4,
h5,
h6 {
  font-family: "novecento-sans-condensed", sans-serif;
  font-weight: 600;
}
p {
  font-family: "neue-haas-grotesk-display", sans-serif;
  letter-spacing: normal;
  line-height: 125%;
}
/* Fonts End */

@layer base {
  * {
    @apply border-border;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #printable,
  #printable * {
    visibility: visible;
  }

  #printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 220mm;
    /* A4 width */
    height: 311mm;
    /* A4 height */
  }

  #printable img {
    width: 100%;
    height: 100%;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

pre.shiki {
  @apply mb-4 rounded-lg p-6;
}

@keyframes anim {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}
